<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eigenaar.bollywoodweekender">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Bollywood Weekender"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventsLocActivity"
            android:label="Events en locatie" />
        <activity android:name=".WeatherActivity"
            android:label="Weer" />
        <activity android:name=".NewsActivity"
            android:label="News" />
        <activity android:name=".EventsActivity"
            android:label="Activiteiten" />
        <activity android:name=".EventActivity"
            android:label="Activiteit" />
        <activity android:name=".ProgrActivity"
            android:label="Programma" />
        <activity android:name=".MapActivity"
            android:label="Plattegrond" />
        <activity android:name=".IdeaActivity"
            android:label="Ideeën" />
    </application>
</manifest>